/* Apply background image to the entire body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: url('images/background_image5.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Existing styles */
.App {
  text-align: center;
  color: #e09d9d;
  font-family: "Times New Roman", Times, serif;
}

.design-area {
  border: 5px solid rgb(202, 147, 147);
  border-radius: 5px;
  height: 600px;
  width: 900px;
  margin: 20px;
  position: relative;
  background-color: rgb(253, 252, 252);
  overflow: hidden;
  display: flex; /* Ensure children are positioned correctly */
  align-items: start; /* Optional: Adjust as needed */
  justify-content: start; /* Optional: Adjust as needed */
}

.controls {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0); /* Optional: Add a background color for better button visibility */
  padding: 10px;
  border-radius: 5px;
}

.design-options {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 10px;
}

.design-item {
  border: 3px solid rgb(155, 95, 95);
  padding: 10px;
  cursor: pointer;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.button-primary {
  background-color: rgb(217, 171, 171);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 20px;
}

.button-secondary {
  background-color: green;
  color: white;
}

.design-header {
  text-align: center;
  color: #e09d9d;
  font-size: 17px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
/* Styling for WebKit browsers (Chrome, Safari, Edge) */
.search-input::-webkit-input-placeholder {
  color: rgb(247, 245, 245); /* Change to desired color */
}

